{% extends "base.html" %}
{% load static %}
{% block title %}Create Account{% endblock %} 
{% block content %}
<div class="box">

    <img src="{% static 'images/learning.png' %}">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div id="errorMsg">{{message}}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="page">
        <form class='login' method="POST" action="{% url 'mente:register' %}">
            {% csrf_token %}
            <input type="text" name="username" id="signName" placeholder="Username" required>
            <input type="email" name="email" id="signEmail" placeholder="Email" required>
            <input type="password" name="password" id="signPassword" placeholder="Password" required>
            <br>
            <input type="submit" value="Sign Up">
            
            <p class="account">Or Sign up with social platforms</p>
            <div class="social-media">
                <a href="" class="social-media-icon">
                    <i aria-label="Facebook" class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="social-media-icon">
                    <i aria-label="Twitter" class="fab fa-x"></i>
                </a>
                <a href="" class="social-media-icon">
                    <i aria-label='Google' class="fab fa-google"></i>
                </a>
                <a href="" class="social-media-icon">
                    <i aria-label="Instagram" class="fa-brands fa-instagram"></i>
                </a>
            </div>
            <p>Already have an account?
                <a href="{% url 'mente:login' %}" style = "color: #707070; max-width: 350px;">Login</a>
            </p>
        </form>
    </div>
</div>
{% endblock %}
