{% extends "base.html" %} 
{% load static %}
{% block title %}Reset your password{% endblock %} 
{% block content %}
<div class="box">
    <img src="{% static 'images/learning.png' %}">
    <div class="page">
        <h1>Reset your password</h1> 
        {% if validlink %} 
            <form method="post">
                {% csrf_token %}
                {% comment %} <input type="password" name="password" id="signPassword" placeholder="Enter New Password" required>
                <input type="password" name="password" id="signPassword" placeholder="Enter New Password Confirmation" required> {% endcomment %}
                {{ form.as_p }}
                <p><input type="submit" value="Change my password" /></p> 
            </form> 
        {% else %}
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p> 
        {% endif %} 
    </div>
{% endblock %}