{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/learning.png' %}" type="image/x-icon">
    <title>LogIn To Mente</title>
</head>
<body>
    <div class="box">
        <img src="{% static 'images/learning.png' %}">
        <div class="page">
            {% comment %} <div class="header">
                <a id="login" class="active" href="#login">log in</a>
                <a id="signup" href="{% url 'mente:register' %}">Sign Up</a>
            </div>
            {% endcomment %}
            {% if form.errors %}
                <div id="errorMsg">Your username and password did not match.</div>
            {% endif %} 
            <div class="content">
                <form class = "login" action="{% url 'mente:login' %}" method="post" id="user-form" name="LoginForm">    
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    <input type="username" id="id_username" name="username" placeholder="User Name" required autofocus="">
                    <input type="password" id="id_password" name='password' placeholder="User Password" required autofocus="">
                    <div id="check">
                        <input type="checkbox" id="remember">
                        <label for="remember">Remember Me</label>
                    </div>
                    <br><br>
                    <input type="submit" value="Log In">
                    <p class="account" style = "color: #707070; max-width: 350px;">Or Sign in with social platforms</p>
                    <div class="social-media">
                        <a href="" class="social-media-icon">
                            <i aria-label="Facebook" class="fab fa-facebook-f"></i>
                        </a>
                        <a href="" class="social-media-icon">
                            <i aria-label="Twitter" class="fab fa-x"></i>
                        </a>
                        <a href="" class="social-media-icon">
                            <i aria-label='Google' class="fab fa-google"></i>
                        </a>
                        <a href="" class="social-media-icon">
                            <i aria-label="Instagram" class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                    <a href="{% url 'mente:password_reset' %}" style = "color: #707070; max-width: 350px;"> Forgotten your password? </a>
                    <br>
                    <a href="{% url 'mente:register' %}" style = "color: #707070; max-width: 350px;">Or Create Account</a>
                </form>
                
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
