{% extends '../base.html' %}
{% load static %}
{% block titte %}Password Change{% endblock %}
{% block content %}    
    <div class="box">

        <img src="{% static 'images/learning.png' %}">
        <div class="page">
            <div>
                <br><br>
                <p style = "font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #159565">Change Your Password</p>
            </div>

            <div id="errorMsg"></div>
            <div class="content">
                <form method="post" class='login'> 
                    {% csrf_token %}
                    <input type="password" id="old_password" name='old_password' placeholder="Old Password" required autofocus="">
                    <br><br>
                    <input type="password" id="new_password1" name='new_password1' placeholder="New Password" required autofocus="">
                    <br><br>
                    <input type="password" id="new_password2" name='new_password2' placeholder="Confirm Password" required autofocus="">
                    <br><br>
                    <center><input type="submit" value="Change" style = "width:55%; font-size: 18px;"></center>
                </form>
                    
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script "{% static 'js/app.js' %}"></script>
{% endblock %}  