{% extends "base.html" %} 
{% load static %}
{% block title %}Reset your password{% endblock %} 
{% block content %} 
<div class="box">

    <img src="{% static 'images/learning.png' %}">
    <div class="page">
        <div>
            <h1 style = "font-family: Arial, Helvetica, sans-serif; font-weight: 700; color: #159565">Password set</h1>
        </div>
        <div>
            <p style = "font-family: Arial, Helvetica, sans-serif; font-size: 17.5px; padding-left: 10px; padding-right: 10px;">
                Your password has been set.
                <br></br>
                You can <a href="{% url 'login' %}" style = "color: #159565; max-width: 350px; text-decoration: none;">log in now</a>
            </p>
        </div>
        <div>
            <br><br>
            <img id = "tick" src="{% static 'images/checkmark.png' %}">
        </div>
    </div>
</div>
{% endblock %}