{% extends "base.html" %} 
{% load static %}
{% block title %}Reset your password{% endblock %} 
{% block content %} 
    <div class="box">

        <img src="{% static 'images/learning.png' %}">
        <div class="page">
            <div>
                <br><br>
                <p style = "font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #159565"> Enter Your Email To Continue </p>
            </div>

            <div id="errorMsg"></div>
            <div class="content">
                <form method="post"> 
                    {{ form.as_p }} 
                    {% comment %} <input type="email" name="email" id="signEmail" placeholder="Email"> {% endcomment %}
                    <br><br>
                    <center><input type="submit" value="Send Email" style = "width:55%; font-size: 18px;"></center>
                    
                    {% csrf_token %} 
                </form> 
            </div>
        </div>
    </div>
{% endblock %}