{% extends "base.html" %} 
{% load static %}
{% block title %}Reset your password{% endblock %} 
{% block content %} 
<div class="box">

    <img src="{% static 'images/learning.png' %}">
    <div class="page">
        <div>
            <br><br>
            <h2 style = "font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #159565">Reset your password</h2>
        </div>
        <div>
            <br><br>
            <p style = "font-family: Arial, Helvetica, sans-serif; font-size: 17.5px; padding-left: 10px; padding-right: 10px;"> 
                We've emailed you instructions for setting your password.
            <br></br>
                If you don't receive an email, please make sure you've entered the address you registered with.
            </p>
        </div>
        <div>
            <br><br>
            <img id = "tick" src="{% static 'images/checkmark.png' %}">
        </div>
    </div>
</div>
{% endblock %}